@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mooli&family=Roboto:wght@300&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Mooli", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #2c3333
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  color: #a5c9ca;
  font-family: "Libre Baskerville", serif;
  margin: 0;
}
h3{
  color: #a5c9ca;
}

p {
  color: #a5c9ca;
  font-weight: bold;
}
button {
  background-color: #2c3333;
  color: #a5c9ca;
  border: solid #a5c9ca 3px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  background-color: #a5c9ca;
  color: #2c3333;
  border: solid #a5c9ca 3px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.navbar{
    display: flex;
    margin: auto;
    width: 80%;
    height: 70px;
    padding: 10px;
    justify-content: space-between;
}
.nav-head{
  color: #a5c9ca;
  cursor: pointer;
}
.login-btn{
  font-size: 1rem;
  color:#A5C9CA;
  cursor: pointer;
}
.login-btn:hover{
  color:#395B64;
}
.github-btn{
  text-decoration: none;
  margin-top: 14px;
  margin-right: 15px;
}
.input-div{
  display: flex;
  flex-direction: column;
    margin: auto;
    width: 80%;
    height: 100%;
    padding: 10px;
}
.textarea{
  margin-bottom: 10px;
}
.section_padding{
  padding:  4rem 4rem ;

}
.footer{
  background-color: #2d2d32;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sb_footer{
  display: flex;
  flex-direction: column;
}

a{
  color: rgb(red, green, blue);
  text-decoration:none;
}
h4{
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}


.sb_footer-below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.sb_footer-below-links{
  display: flex;
  flex-direction: row;
}
.sb_footer-below-links p{
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}
hr{
  color: white !important;
  width: 100%;
}
.sb_footer-copyright p{
  font-size: 13px;
  line-height: 15px;
  color: rgb(red, green, blue);
  font-weight: 600;
}
